* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.margin_16 {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.text_center {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 1280px;
    margin: auto;
}

header {
    min-width: 100%;
    width: 1440px;
    background-color: #232536;
    color: #FFFFFF;
}

.header_nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.nav_btn {
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #232536;
    background-color: #FFFFFF;
    padding: 16px 48px;
    border: none;
}

.links>a {
    margin-right: 24px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.read_more {
    padding: 16px 48px;
    background-color: #FFD050;
    color: #232536;
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none;
}

footer {
    padding: 59px 80px 56px 80px;
    background: #232536;
}

.footer {
    justify-content: space-between;
}

.footer>div>a {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 24px;
}

.footer_content {
    padding: 80px 64px;
    align-items: center;
    justify-content: space-between;
    background-color: #232536;
}

.footer_content>h2 {
    width: 562px;
    color: #FFF;
    font-family: Sen;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
}

input {
    width: 323px;
    padding: 10px;
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    border: 1px solid #4C4C4C;
}

.f_btn {
    padding: 16px 48px;
    background: #FFD050;
    border: none;
}
#links{
    justify-content: space-between;
    align-items: center;
}
.privacy>p{
    justify-content: space-between;
    color:  #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
opacity: 0.7;
}

#links>.social_links>div{
    display: inline-block;
    margin-left: 26px;
}
